<html>
<head></head>
<body>
<h3>Type a word and how many times you want it to be shifted</h3>
<form>
  <input type="text" name="word">
  <input type="number" name="shift">
  <input type="submit" value="Convert">
</form>

<h4>The converted word is: <%= result unless result.nil? %> </h4>
</body>
</html>

